body{
    box-sizing: border-box;
    background-color: #ffde00;
    color: rgb(54, 54, 54);
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

about-wrapper{
    width: 100%;
    height: 300px;
    

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    
}

.my-photo{
    max-width: 50%;
    height: auto;


    z-index: -10;
    position: absolute;
    bottom: 0px;
    right: 0px;

    

    
    

}

about-wrapper p{
    margin: 15px 65px;
    max-width: 400px;
    text-align: justify;
}

about-wrapper h1{
    margin: 15px 65px;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:center;
    
    
}

header ul{
    text-decoration: none;
    list-style-type: none;

    display: flex;
    justify-content: center;
}

header ul a:link, a:after, a:visited, a:hover{
    text-decoration: none;
    height: 16px;
}

header ul li{
    margin: 0px 15px;
    font-weight: 600;
    font-size: 16px;
    text-transform:uppercase;
    color: #000;
    
}

atag-logo .logo{
    width: 155px;
    height: auto;
    margin: 35px 100px;
    
}



.logo-yellow{
    width: 175px;
    height: auto;
    margin: 35px 100px;
    transform: scale(1.2);
    
    
}

/*.logo-yellow:after{
    opacity: 1;
    animation: animate 2s ease-in;
}
*/

@keyframes logo-yellow {
    0%{transform: scale(1); -webkit-transform: scale(1.0); opacity: 1;}
    50%{transform: scale(.9); -webkit-transform: scale(.8); opacity: .5;}
    100%{transform: scale(1); -webkit-transform: scale(1.0); opacity: 1;}
}

.logo-yellow {
    animation: logo-yellow 2s ease-in-out infinite alternate;
    -webkit-animation: logo-yellow 2s ease-in-out infinite alternate;
}


.onload-page{
    width: 100%;
    height: 100%;

    background: #000;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    


}

/*.main-content{
    width: 100%;
    height: 100vh;
    background: url("https://source.unsplash.com/random/4000x4000") center no-repeat;
    background-size: cover;
}
*/


