body{
    box-sizing: border-box;
    background-color: #ffde00;
    color: rgb(54, 54, 54);
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.logo-yellow{
    width: 175px;
    height: auto;
    margin: 35px 100px;
    transform: scale(1.2);
    opacity: .7;
    
}

/*.logo-yellow:after{
    opacity: 1;
    animation: animate 2s ease-in;
}
*/

@keyframes logo-yellow {
    0%{transform: scale(1); -webkit-transform: scale(1.2); opacity: 1;}
    50%{transform: scale(.9); -webkit-transform: scale(.8); opacity: .5;}
    100%{transform: scale(1); -webkit-transform: scale(1.2); opacity: 1;}
}

.logo-yellow {
    animation: logo-yellow 2s ease-in-out infinite alternate;
    -webkit-animation: logo-yellow 2s ease-in-out infinite alternate;
}


.onload-page{
    width: 100%;
    height: 100%;

    background: #000;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    


}

/*.main-content{
    width: 100%;
    height: 100vh;
    background: url("https://source.unsplash.com/random/4000x4000") center no-repeat;
    background-size: cover;
}
*/