body{
    background-color: #ffde00;
    color: rgb(54, 54, 54);
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.logo{
    width: 175px;
    height: auto;
    margin: 35px 100px;
    
}


.onload-page{
    width: 100%;
    height: 100%;

    background: #000;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;


}

.onload-page .logo{

-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}